<mat-tab-group class="navLabels" >
  <mat-tab label="Home">

  </mat-tab>
  <mat-tab  label="Performance">

  </mat-tab>
  <mat-tab  label="Funds">

  </mat-tab>
  <mat-tab  label="Label" >
 
  </mat-tab>
</mat-tab-group>

<!-- <mat-toolbar class="mat-elevation-z10" color="primary" style="z-index: 100!important;">
  <i class="fa fa-money" id="logo" aria-hidden="true"></i> 
  <nav mat-tab-nav-bar>
    <a mat-tab-link id="textLogo" routerLink="landing" routerLinkActive="active">BitBuddy</a>
    <a mat-tab-link routerLink="landing" routerLinkActive="active">Performance</a>
    <a mat-tab-link routerLink="landing" routerLinkActive="active">Performance</a>
  </nav>
  <button id="bitLogo" mat-button color="accent">Wild </button>
  <span class="example-fill-remaining-space"></span>


  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="analytics" routerLinkActive="active">Login</a>
  </nav>
</mat-toolbar> -->


