.example-fill-remaining-space {
    flex: 1 1 auto;
  }

#textLogo{
    font-size: 1.5em;
}

mat-tab-link{
    color: white;
}

#logo{
    size: 50%;
}

#firstL1{
    color: white;
}
.mat-tab-label.mat-tab-label-active {
    background-color: white !important;
  }

.personal {
    color: white;
    background-color: white;

}

	

link {
    color:white;
}

.matNavBar{
    z-index: 2;
    display: -webkit-box;
    align-items: center;
}

mat-toolbar{
    color: white;
}

mat-tab-group {
    background-color: black;
}

.navLabels {
    color: rgb(117, 211, 255);
}



