.example-fill-remaining-space {
    flex: 1 1 auto;
  }

#textLogo{
    font-size: 1.5em;
}

.mat-tab-link{
    color: white;
}

#logo{
    size: 50%;
}

.matNavBar{
    z-index: 2;
    display: -webkit-box;
    align-items: center;
}

mat-toolbar{
    color: white;
}



